# Archivos de configuración sensibles
keystore.properties
keystore/
*.jks
*.keystore

# Archivos de build
build/
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Archivos de Android Studio
.idea/
*.iml
*.iws
*.ipr
local.properties

# Archivos de iOS
iosApp/build/
iosApp/DerivedData/
iosApp/Pods/
iosApp/Podfile.lock

# Archivos temporales
*.tmp
*.temp
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de backup
*.bak
*.backup

# Archivos de firma
*.apk
*.aab